.video {
    margin: 100px auto;
    width: 1000px;
    background: aliceblue;
}

.v_left {
    width: 200px;
    height: 100%;
    background: coral;
    float: left;
}

.v_right {
    width: 800px;
    height: 100%;
    background: coral;
    float: right;
}

.v_path {
    display: block;
}

